<div class="mb-5">
  <label class="block mb-2 text-base sm:text-lg font-medium dark:text-white">
    {{ inputSwitchFormProps.title }}
  </label>
  <select
    name="{{inputSwitchFormProps.title+'selectedOption'}}"
    [formControl]="inputSwitchFormProps.formControl" 
    class="{{
      ' block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-slate-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white ' +
        (inputSwitchFormProps.formControl.invalid 
          ? 'bg-red-200 dark:bg-red-800'
          : '') +
        ' ' +
        (inputSwitchFormProps.styleOverride ?? '')
    }}"
  >
    @for (option of inputSwitchFormProps.options; track option; let i = $index)
    { return
    <option
      class=""
      key="i"
      id="{{ inputSwitchFormProps.title + i + 'option' }}"
      value="{{option}}"
    >
      {{ option }}
    </option>
    }
  </select>
</div>
