@if(route == appNames.FORMS){
<div
  class="pl-2 text-xs sm:text-base text-gray-900 dark:text-white flex w-full gap-1 max-w-[100dvh]"
>
  @if(navigationPathService.getInStores() &&
  navigationPathService.getStoreName() ){
  <div
    id="NavStoresTitle"
    class="overflow-hidden max-w-16  hover:opacity-75"
    [routerLink]="['/stores']"

  >
    Stores
  </div>
  } @if(navigationPathService.getInStores() &&
  navigationPathService.getStoreName()){
  <div class="flex max-w-[6rem] sm:max-w-[12.75rem]">
    <div class="flex-none w-[0.625rem]">></div>
    <div
      id="NavStoreName"
      class="flex-none truncate max-w-[5rem] sm:max-w-[11.5rem] overflow-hidden text-ellipsis hover:opacity-75 ml-1"
      [routerLink]="['/stores',navigationPathService.getStoreId()]"
    >
      {{
        navigationPathService.getStoreName()
      }}
    </div>
  </div>
  } @if(navigationPathService.getInProducts()){
  <div class="flex max-w-[5.75rem] sm:max-w-[12.5rem]">
    <div class="flex-none w-[0.625rem]">></div>
    <div
      id="NavProductsTitle"
      class="truncate max-w-[5rem] sm:max-w-[11.5rem] overflow-hidden text-ellipsis hover:opacity-75 flex-none pl-1"
      [routerLink]="['/stores',navigationPathService.getStoreId() , 'products']"

    >
      Products 
    </div>
  </div>
  } @if(navigationPathService.getProductName()){
  <div class="flex max-w-[5.75rem] sm:max-w-[12.5rem] ">
    <div class="flex-none w-[0.625rem]">></div>
    <div
      class="truncate max-w-[5rem] sm:max-w-[11.5rem] overflow-hidden text-ellipsis hover:opacity-75 flex-none pl-1"
      id="NavProductName"
      [routerLink]="['/stores',navigationPathService.getStoreId() , 'products', navigationPathService.getProductId()]"

    >
      {{ navigationPathService.getProductName() }}
    </div>
  </div>
  }
</div>
}
