<div class="flex mx-3 items-center flex-col">
    <div class="mb-8 text-xl  dark:text-white" > {{IntroPlatform}}</div>
    <div class="mb-6 dark:text-white self-start text-xl">
        <div>{{IntroDiffApp}}</div>
    </div>
    <div class="mb-6 dark:text-white self-start text-base">
        <div class="font-bold">{{AppFormsName + ':'}}</div>
        <div>{{presentationAppForms}}</div>
    </div>
    <div class="mb-6 dark:text-white self-start text-base">
        <div class="font-bold">{{AppShopName + ':'}}</div>
        <div>{{presentationAppShop}}</div>
    </div>
</div>