<div
  id="shopProductListContainer"
  class="max-w-[1200px] mx-auto w-[90%] flex flex-col"
>
<div class="self-end">
        <app-navigation-page-inputs [currentPage]="currentPage" [totalPages]="totalPages" (changePageEvent)="changePageFunction($event)"/>
  </div>
  @if(!isLoading && products === undefined || (products && products.length ===
  0)){
  <div
    class="dark:text-white rounded-lg min-h-[300px] dark:bg-gray-600 bg-gray-300 p-2 w-full flex items-center justify-center"
  >
    No items found
  </div>
  } @if(isLoading){
  <div class="flex justify-center"><app-spinner /></div>
  } 
  @if(!isLoading && products && products.length > 0){
  <div
    id="shopProductList"
    class="grid grid-cols-1 min-[1040px]:grid-cols-3 xl:grid-cols-4 md:gap-y-4 gap-y-6 rounded-lg min-h-[300px] dark:bg-gray-600 bg-gray-300 p-2 md:justify-items-center"
  >
    @for (product of products; track product; let i = $index) {
        <div class="w-full min-[1040px]:w-[258px]" id="{{'ShopProductElementGalleryContainer' + product.id}}">
            <app-shop-product-image-gallery [cartItem]="productDTOtoCartItemDTO(product)" (quantityChangeEvent)="quantityChangeFunction($event)" />
        </div>
     }
  </div>
  }
</div>
